.drugInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background-grey);
  padding: 0.8rem 1rem;
  border-radius: 4px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.drugInput p {
  width: calc(100% - 140px);
  word-break: break-all;
  font-weight: 600;
}

.inputGroup {
  display: flex;
  align-items: center;
  text-align: center;

  span {
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.formControl {
  display: none;
}

.btnCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  line-height: 1;
  padding-top: 2px;
  border: 2px solid var(--grey);
  font-size: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.16s ease-in-out;

  &:hover {
    background-color: var(--primary-alpha);
    border-color: var(--link);
    color: var(--link);
  }
}


@media screen and (max-width:1024px) {
  .drugInput input.form-control {
    padding-left: 0;
  }
}