.homePage {
  max-width: 600px;
  min-height: calc(100vh - 80px - 100px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  user-select: none;
  -user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;

    img {
      height: 1.6rem;
      display: inline;
    }
  }

  p {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 1.5rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    li {
      border-radius: 4px;
      font-weight: 700;
      transition: all 0.16s ease-in-out;

      a, span {
        display: block;
      }

      &:not(.mainItem):hover {
        cursor: pointer;
        color: var(--link);
        text-decoration: underline;
      }

      i {
        font-size: 1.2rem;
        margin-right: 8px;
        display: inline-block;
        width: 24px;
        text-align: center;
      }
    }
  }
}